/vendor
/.idea
Homestead.json
Homestead.yaml
.phpunit.result.cache
/node_modules
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/*.log
/.vscode
/.DS_Store
Thumbs.db
composer.lock
npm-debug.log
yarn-error.log
.idea/
*.swp
*.swo
*.bak
*.tmp
/.sass-cache
/.cache
/.coverage
/.phpunit.cache
/.phpunit.result.cache
/.env.testing
/.env.backup
/.docker
docker-compose.yml
.Dockerfile