<%- include( 'layout', {body:`
    <div class="principal">
        <div class="container">
            <h1>Calculadora</h1>
            <p>¿QUE OPERACION DESEA REALIZAR?</p>
            <a href="/sumar">Suma</a>
            <a href="/restar">Resta</a>
            <a href="/multiplicar">Multiplicación</a>
            <a href="/dividir">División</a>
        </div>
    </div>

`})%>
