<%- include( 'layout', {body:`
    <div class="principal">
        <div class="container">
            <h1>El resultado es:  ${ respuesta }</h1><br>

            <a href="/">Volver</a>
        </div>
    </div>
`}) %>
